/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root > * {
    /* Try to match the font on the rest of the addon page */
    font-size: 1.25rem;
    color: #333;
}

.label {
    line-height: 1.8;
}

.label:not(:first-child) {
    margin-top: .9em;
}

.label.helper {
    color: #737373; /* Firefox Grey 50 (Photon "secondary color") */
    font-size: calc(1em / 1.15);
}

div.browser-style {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.8;
    margin-bottom: 0;
}
